/* .navbar {
    position:absolute;
    top: 3rem;
    right:15rem;
    left: 15rem;
    z-index: 10;
}

.navbar_content{
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.navbar_links {
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    transition: color 0.2s ease;
}

a:hover{
    opacity: 80%;
}
.navbar_link.active{
    opacity: 40%;
} */

@reference '../../../styles.css';

.navbar {
    @apply absolute top-12 right-60 left-60 z-10;
}

.navbar_content {
    @apply max-w-container mx-auto flex gap-12 justify-center;
}   

.navbar_links {
    @apply flex gap-10 text-lg font-medium leading-6 transition-colors duration-200 ease-in-out hover:opacity-80 ;
}

.navbar_link.active {
    @apply opacity-40;
}
