/* .hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:  0 60px;
    background-image: url('/asset/backgrounds/landingPage.png');
    text-align: center;
    background-color: var(--color-background-dark);
}

.hero_arrow {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background:none;
    color: inherit;
    font-size: 2rem;
    padding: 8px 16px;
    cursor: pointer;
}
.hero_arrow:hover {
    color: var(--color-text-muted);
}
.arrow_left {
    left: 7rem;
}
.arrow_right {
    right: 7rem;
}

.hero_content {
    max-width: 620px;
    margin: 0 auto;
}
.hero_title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.hero_description {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}
.hero_body {
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 30px;
}

.hero_dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 32px;
}

.hero_dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0.3;
    transition: opacity 0.3s;
    background-color: var(--color-text-muted);
    cursor: pointer;
}
.hero_dot.active {
    opacity: 1;
}

@media (max-width: 700px){

.arrow_left {
    left: 1rem;
}
.arrow_right {
    right: 1rem;
}
.hero_title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.hero_description {
    font-size: 2rem;
    margin-bottom: 15px;
}
.hero_body {
    font-size: 1.1rem;
    line-height: 1.4;
}
} */

@reference '../../../styles.css';

.hero {
    @apply relative min-h-screen flex items-center justify-center px-15 text-center bg-[url('/asset/backgrounds/landingPage.png')] bg-cover bg-center bg-no-repeat bg-background-dark;
}
.hero_arrow {
    @apply absolute top-1/2 transform -translate-y-1/2 bg-none text-inherit text-5xl p-2 cursor-pointer hover:text-text-muted;
}
.arrow_left {
    @apply left-4 sm:left-32;
}
.arrow_right {
    @apply right-4 sm:right-32;
}
.hero_content {
    @apply max-w-lg mx-auto;
}
.hero_title {
    @apply sm:text-3xl font-bold sm:mb-4 text-xl mb-2;
}

.hero_description {
    @apply text-3xl font-bold leading-tight mb-4 sm:text-5xl sm:mb-5;
}
.hero_body {
    @apply sm:text-lg sm:leading-relaxed sm:mb-7 text-base leading-snug mb-5;
}
.hero_dots {
    @apply flex justify-center gap-2 mb-8;
}
.hero_dot {
    @apply w-3 h-3 rounded-full opacity-30 transition-opacity bg-text-muted cursor-pointer;
}

.hero_dot.active {
    @apply opacity-100;
}

