/* .content{
    background: url('/asset/backgrounds/content.png') no-repeat center;
    display: flex;
    justify-content: center;
    min-height: 60vh;
    padding: 100px 24px;
    margin-top: 2rem;
    background-color: var(--color-background-dark);
}

.content_text{
    max-width: 775px;
    text-align: center;
}

.content_title{
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
    letter-spacing: 0.1em;
}

.content_subtitle{
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}
.content_description{
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 30px;
} */

@reference '../../../styles.css';

.content {
    @apply bg-[url('/asset/backgrounds/content.png')] bg-no-repeat bg-center flex justify-center min-h-[60vh] px-6 pt-24 mt-8 bg-background-dark;
}

.content_text {
    @apply max-w-193.75 text-center;
}

.content_title {
    @apply text-sm font-bold leading-6 mb-4 tracking-widest;
}
.content_subtitle {
    @apply text-4xl font-bold leading-tight mb-5;
}
.content_description {
    @apply text-lg leading-6 mb-7.5;
}

