<section class="content">
    <div class="content_text">
        <p class="content_title">FREE SAMPLE</p>
        <h2 class="content_subtitle">Powerful Generator and Free Figma Sources </h2>
        <p class="content_description">Startup Framework contains components and complex blocks which can easily be integrated into almost any design. All of the components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions.</p>
    </div>
</section>