.features {
    background-image: url('/asset/backgrounds/feature.png');
    background-color: var(--color-background-dark);
    height: 80vh;
    margin-top: 2rem;
    position: relative;
    overflow: hidden;
}
.features_content {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  gap: 3.125rem; 
    padding: 4.625rem 1.5rem;
}
.feature_image{
flex: 0 0 21.875rem;

}
.feature_image img{
    max-width: 20rem;
    position: absolute;
    left: 0;
}
.image_laptop{
    top: 16%;
    height: 22.5rem;
}
.image_layer{
    top: 20%;
    width: 13.75rem;
    height: 18.75rem;
}

.feature_text {
    flex: 1;
    text-align: left;
}
.feature_title {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.feature_subtitle {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 1.875rem;
    font-weight: 500;
    max-width: 32.5rem;
}

.feature_grid {
    display: flex;
    gap: 1.25rem;
}
.grid_items{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.grid_title{
    font-size:0.875rem;
    font-weight: 700;
}
.grid_description{
    font-size: 1rem;
    font-weight: 400;
}

.feature_dots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin: 2rem;
}

.feature_dot {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    opacity: 0.3;
    transition: opacity 0.3s;
    background-color: var(--color-text-muted);
    cursor: pointer;
}
.feature_dot.active {
    opacity: 1;
}

@media (max-width: 700px){
.features_content {
    display: grid;
}
.feature_image img{
    max-width: 10rem;
    position: absolute;
    left: 0;
}
.image_laptop{
    top: 1.6%;
    height: 7rem;
}
.image_layer{
    top: 2.2%;
    width: 4.5rem;
    height: 6.3rem;
}
.feature_title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.feature_subtitle {
    font-size: 0.85rem;
    line-height: 1.4;
    margin-bottom: 1.2rem;
    font-weight: 500;
    max-width: 32.5rem;
}
.feature_dots {
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    margin: 0rem;
}
}