/* .pricing {
    background-color: var(--color-background-dark);
    background-image: url('/asset/backgrounds/pricing.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    
}

.pricing_title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    
}

.pricing_description {
    font-size: 1.2rem; 
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.pricing_cards {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    justify-content: center;
    gap: 2rem;
    text-align: left;
}

.pricing_card {
    border: 1px solid var(--color-text-muted);
    border-radius: 10px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card_title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.card_price {
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.card_price span {
    vertical-align: top;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color-text-muted);
    margin-left: -0.5rem;
}

.card_features {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;
    flex: 1;
}
.feature_removed{
    opacity: 0;
}
.card_features li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0.5rem;
}
.feature_muted {
    color: var(--color-text-muted);
    opacity: 0.6;
    text-decoration: line-through;
}

.btn-outline {
    background: transparent;
    color: var(--color-text-muted);
    border: 1px solid var(--color-text-muted);
}


@media (max-width: 768px) {
    .pricing_cards {
        grid-template-columns: 1fr;
    }
} */

@reference '../../../styles.css';

.pricing {
    @apply py-16 px-8 items-center flex flex-col text-center mt-8 min-h-screen bg-[url('/asset/backgrounds/pricing.png')] bg-no-repeat bg-cover bg-background-dark;
}
.pricing_title {
    @apply text-4xl font-bold mb-4;
}
.pricing_description{
    @apply max-w-125 text-xl m-auto mb-12 ;
}
.pricing_cards{
    @apply grid grid-cols-1 sm:grid-cols-3 justify-center gap-8 text-left;
}

.pricing_card{
    @apply border border-text-muted rounded-xl p-12 flex flex-col transition-all transform duration-300  ease-in-out;
}

.card_title {
    @apply mb-2 text-2xl font-semibold;
}
.card_price {
    @apply mb-4 text-4xl font-bold;
}

.card_price span {
    @apply align-top -ml-0.5 text-sm font-medium text-text-muted;
}

.card_features{
    @apply list-none p-0 m-0 mb-6 flex-1;
}

.feature_removed{
    @apply opacity-0;
}

.card_features li {
    @apply flex gap-4 items-center mb-2;
}

.feature_muted {
    @apply text-text-muted opacity-60 line-through;
}
.btn-outline {
    @apply bg-transparent text-text-muted border border-text-muted;
}
    
